{% load static %}
<div class="sidebar border border-right col-md-3 col-lg-2 p-0 bg-body-tertiary">
    <div class="offcanvas-md offcanvas-end bg-body-tertiary" tabindex="-1" id="sidebarMenu" aria-labelledby="sidebarMenuLabel">
      <div class="offcanvas-header">
        <a href="{% url 'expenses' %}">
        <h5 class="offcanvas-title" id="sidebarMenuLabel">Ekash</h5>
        </a>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#sidebarMenu" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body d-md-flex flex-column p-0 pt-lg-3 overflow-y-auto">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link d-flex align-items-center gap-2 active" aria-current="page" href="#">
              <span class="material-icons">
                dashboard
                </span>
              Dashboard
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link d-flex align-items-center gap-2" href="{% url 'expenses' %}">
              <span class="material-icons">
                payments
                </span>
              Expenses
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link d-flex align-items-center gap-2" href="#">
              <span class="material-icons">
                paid
                </span>
              Income
            </a>
          </li>
          {% comment %} <li class="nav-item">
            <a class="nav-link d-flex align-items-center gap-2" href="#">
              <svg class="bi"><use xlink:href="#people"/></svg>
              Customers
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link d-flex align-items-center gap-2" href="#">
              <svg class="bi"><use xlink:href="#graph-up"/></svg>
              Reports
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link d-flex align-items-center gap-2" href="#">
              <svg class="bi"><use xlink:href="#puzzle"/></svg>
              Integrations
            </a>
          </li> {% endcomment %}
        </ul>

        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-body-secondary text-uppercase">
          <span>Summary</span>
          <a class="link-secondary" href="#" aria-label="Add a new report">
            <svg class="bi"><use xlink:href="#plus-circle"/></svg>
          </a>
        </h6>
        <ul class="nav flex-column mb-auto">
          <li class="nav-item">
            <a class="nav-link d-flex align-items-center gap-2" href="#">
              <span class="material-icons">
                summarize
                </span>
              Expense Summary
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link d-flex align-items-center gap-2" href="#">
              <span class="material-icons">
                summarize
                </span>
             Income summary
            </a>
          </li>
          
        </ul>

        <hr class="my-3">
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-body-secondary text-uppercase">
          <a class="link-secondary" href="#" aria-label="Add a new report">
            <svg class="bi"><use xlink:href="#gear-wide-connected"/></svg>
              Settings
          </a>
        </h6>
        <ul class="nav flex-column mb-auto">
         
          <li class="nav-item">
            <a class="nav-link d-flex align-items-center gap-2" href="#">
              <span class="material-icons">
                manage_accounts
                </span>
           Account
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link d-flex align-items-center gap-2" href="{% url 'preferences' %}">
              <span class="material-icons">
                tune
                </span>
           General
            </a>
          </li>
          
        </ul>
        <ul class="nav flex-column mb-auto">
        
          {% if request.user.is_authenticated%}
          <li class="nav-item">
            <a class="nav-link d-flex align-items-center gap-2" href="{% url 'logout' %}">
              <span class="material-icons">
                logout
                </span>
              Sign out
            </a>
          </li>
          {% endif %}
        </ul>
      </div>