{% extends "base.html" %}

{% block content %}

<h3>Preferred Currency </h3>
<div class="main-wrapper">
    <div class="card">
        <div class="input-group mb-3 m-5">
            <select class="custom-select m-2" id="inputGroupSelect02">
              <option selected>Choose...</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
            <div class="input-group-append">
              <label class="input-group-text" for="inputGroupSelect02">Options</label>
            </div>
          </div>
</div>
</div>
{% endblock content %}
