
{% extends "base.html" %}
{% block content %}

<div class="container mt-4">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'income' %}">Income</a></li>
          <li class="breadcrumb-item active" aria-current="page">Edit Income</li>
        </ol>
      </nav>
     {% comment %} <div class="col-sm mt-4">
        <a href="{% url 'delete_income' income.id %}" class="btn btn-danger">Delete Income</a>
        </div>  {% endcomment %}
      <form action="#" method="POST" class="form mt-4"> 
        {% csrf_token %}
        <div class="form-row align-items-center">
            
            <div class="col-sm-3 my-1">
            <label class="sr-only" for="inlineFormInputName">Source Of Income</label>

            <select class="custom-select" id="inputGroupSelect02" name="source">
                <option selected value="{{ values.source_of_income }}" name="source"> {{ values.source_of_income }}</option>
                {% for source in sources %}
                <option name="source" value="{{ source.name }}" >{{ source.name }}</option>
                {% endfor %}
              </select>
            </div>
          <div class="col-sm-3 my-1">
            <label class="sr-only" for="inlineFormInputName">Amount</label>
            <input type="number" class="form-control" id="inlineFormInputName" placeholder="200.00" name="amount"  value="{{ values.amount}}">
          </div>
          <div class="col-sm-3 my-1">
            <label class="sr-only" for="inlineFormInputName">Description</label>
            <input type="text" class="form-control" placeholder="savings" name="description" required value="{{ values.description }}">
          </div>
          <div class="col-sm-3 my-1">
            <label class="sr-only" for="inlineFormInputName">Date Of Income</label>
            <input type="date" class="form-control" id="inlineFormInputName" name="icome_date" required value="{{ values.date | date:'Y-m-d' }}">
          </div>
          <div class="col-auto my-1">
            <button type="submit" class="btn btn-primary">Save</button>
          </div>
          
          
        </div>
      </form>
      
      
</div>

{% endblock content %}
