
{% extends "base.html" %}
{% block content %}
<h3> Add expense </h3>
<div class="container mt-4">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'expenses' %}">Expenses</a></li>
          <li class="breadcrumb-item active" aria-current="page">Add Expense</li>
        </ol>
      </nav>
     
      <form action="{% url 'add_expense' %}" method="POST"> 
        {% csrf_token %}
        <div class="form-row align-items-center">
            
            <div class="col-sm-3 my-1">
            <label class="sr-only" for="inlineFormInputName">Category</label>
            <select class="custom-select" id="inputGroupSelect02" name="category">
                <option selected value="{{ category.name }}" name="category"> {{ values.category }}</option>
                {% for category in categories %}
                <option name="category" value="{{ category.name }}" >{{ category.name }}</option>
                {% endfor %}
              </select>
            </div>
          <div class="col-sm-3 my-1">
            <label class="sr-only" for="inlineFormInputName">Amount</label>
            <input type="number" class="form-control" id="inlineFormInputName" placeholder="200.00" name="amount" required value="{{ values.amount}}">
          </div>
          <div class="col-sm-3 my-1">
            <label class="sr-only" for="inlineFormInputName">Description</label>
            <input type="text" class="form-control" placeholder="Travelled to Kiambu" name="description" required value="{{ values.description }}">
          </div>
          <div class="col-sm-3 my-1">
            <label class="sr-only" for="inlineFormInputName">Date Of Expense</label>
            <input type="date" class="form-control" id="inlineFormInputName" name="expense_date" required>
          </div>
          <div class="col-auto my-1">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </div>
      </form>

</div>

{% endblock content %}
