
{% extends "base.html" %}
{% block content %}
<h3> Add expense </h3>
<div class="container mt-4">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'expenses' %}">Expenses</a></li>
          <li class="breadcrumb-item active" aria-current="page">Add Expense</li>
        </ol>
      </nav>
      <form>
        <div class="form-row align-items-center">
          <div class="col-sm-3 my-1">
            <label class="sr-only" for="inlineFormInputName">Category</label>
            <input type="text" class="form-control" id="inlineFormInputName" placeholder="Travel" name="category">
          </div>
          <div class="col-sm-3 my-1">
            <label class="sr-only" for="inlineFormInputName">Amount</label>
            <input type="float" class="form-control" id="inlineFormInputName" placeholder="200.00" name="amount">
          </div>
          <div class="col-sm-3 my-1">
            <label class="sr-only" for="inlineFormInputName">Description</label>
            <input type="text" class="form-control" placeholder="Travelled to Kiambu" name="description">
          </div>
          <div class="col-sm-3 my-1">
            <label class="sr-only" for="inlineFormInputName">Date</label>
            <input type="date" class="form-control" id="inlineFormInputName" name="date">
          </div>
          <div class="col-auto my-1">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </div>
      </form>

</div>

{% endblock content %}
