
{% extends "base.html" %}
{% block content %}
<h3> Add expense </h3>
<div class="container mt-4">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'expenses' %}">Expenses</a></li>
          <li class="breadcrumb-item active" aria-current="page">Edit Expense</li>
        </ol>
      </nav>
      <div class="col-sm mt-4">
        <a href="{% url 'delete_expense' expense.id %}" class="btn btn-danger">Delete Expense</a>
        </div>
      <form action="{% url 'edit_expense' expense.id %}" method="POST" class="form mt-4"> 
        {% csrf_token %}
        <div class="form-row align-items-center">
            
            <div class="col-sm-3 my-1">
            <label class="sr-only" for="inlineFormInputName">Category</label>

            <select class="custom-select" id="inputGroupSelect02" name="category">
                <option selected value="{{ values.category }}" name="category"> {{ values.category }}</option>
                {% for category in categories %}
                <option name="category" value="{{ category.name }}" >{{ category.name }}</option>
                {% endfor %}
              </select>
            </div>
          <div class="col-sm-3 my-1">
            <label class="sr-only" for="inlineFormInputName">Amount</label>
            <input type="number" class="form-control" id="inlineFormInputName" placeholder="200.00" name="amount"  value="{{ values.amount}}">
          </div>
          <div class="col-sm-3 my-1">
            <label class="sr-only" for="inlineFormInputName">Description</label>
            <input type="text" class="form-control" placeholder="Travelled to Kiambu" name="description" required value="{{ values.description }}">
          </div>
          <div class="col-sm-3 my-1">
            <label class="sr-only" for="inlineFormInputName">Date Of Expense</label>
            <input type="date" class="form-control" id="inlineFormInputName" name="expense_date" required value="{{ values.date | date:'Y-m-d' }}">
          </div>
          <div class="col-auto my-1">
            <button type="submit" class="btn btn-primary">Save</button>
          </div>
          
          
        </div>
      </form>
      
      
</div>

{% endblock content %}
