{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="main-wrapper mb-5">
<div class="container-fluid mt-4" style="padding-top: 26px; background-color:rgb(229, 233, 243); border-radius:4px">
  <div class="row">
  <div class="col-md-9">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Expenses</a></li>
        <li class="breadcrumb-item active" aria-current="page">My Expenses</li>
      </ol>
    </nav>
  </div>
  <div class="col-md-3">
    <a href="{% url 'add_expense' %}" class="btn btn-primary">Add Expense</a>
  </div>
</div>
</div>
</div>
 {% endblock %}