{% extends "base_auth.html" %}
{% load static %}
{% block content %}

  <div class="main-wrapper">
   
    <div class="card">
      <div class="container">
        <br> <br> <br>
        <!-- Account Logo -->
          <h2> Ekash </h2>
        <!-- /Account Logo -->
        <br> <br> <br> <br> <br> <br> <br> <br> <br> 
        <div class="account-box">
          <div class="account-wrapper">
            <h3 class="account-title">Register For Free Account</h3>
            
            <!-- Account Form -->
            <form action="{% url 'register' %}" method='POST'>
              {% csrf_token %}
              {% include "partials/messages.html" %}
              <div class="input-block mb-4">
                <label class="col-form-label">Email<span class="mandatory">*</span></label>
                <input class="form-control" type="email" name="email" id="email" value="{{ field_values.email }}">
              </div>
              <div class="invalid-feedback  invalid_feedback_email" style="display: none">
              </div>
              <div class="input-block mb-4">
                <label class="col-form-label">Username<span class="mandatory">*</span></label>
                <input class="form-control" type="text" name="username" id="usernameField" value="{{ field_values.username }}">
              </div>
              <div class="invalid-feedback  invalid_feedback" style="display: none">
              
            </div>
              <div class="input-block mb-4">
                <label class="col-form-label">Password<span class="mandatory">*</span></label>
                <input class="form-control password" type="password" name="password1" id="password">
              </div>
              <div class="input-block mb-4">
                <label class="col-form-label">Repeat Password<span class="mandatory">*</span></label>
                <input class="form-control password" type="password" name="password2" id="password2">
                <small class="float-rigth py-3 btn-primary" id="showAPasswordToggle"> SHOW </small>
              </div>
              <div class="input-block mb-4 text-center">
                <button class="btn btn-primary account-btn" type="submit">Register</button>
              </div>
              <div class="account-footer">
                <p>Already have an account? <a href="">Login</a></p>
              </div>
            </form>
            <!-- /Account Form -->
          </div>
        </div>
      </div>
    </div>
<script src="{% static 'js/register.js' %}"> </script>


{% endblock content %}